{% extends 'study/base.html' %}
{% block country_active %}active{% endblock %}

{% block body %}
<style>
    .thumbnail {margin-left:15px;margin-right:15px;}
    .thumbnail:hover{border:1px solid #007A5C}
    .thumbnail img{transform:scale(0.98)}
    .thumbnail:hover img{transform:scale(1.01)}
</style>
<div class="container-fluid">
<h1 style="padding-left:13px;">!!!Welcome {{ user.username }} to your Study Destinations!!!</h1>
{% if countries %}
    {% for country in countries %}
    <!--
    <ul style="font-size:24px;font-weight:500;color:#fff;margin-bottom:7px;">
        <li><a href="{% url 'study:detail' country.id %}"> {{ country.name }} </a><br>
            <img src="{{ country.country_pic.url }}" width="220" height="130" style="margin-left:10px">
        </li>
    </ul>
    -->
    <div class="col-sm-2 col-md-4">
        <div class="thumbnail">
            <p class="caption" align="center" style="font-size:24px;vertical-align:top;margin-top:-10px">{{ country.name }}</p>
            <a href="{% url 'study:detail' country.id %}">
                <img src="{{ country.country_pic.url }}" class="img-responsive" style="margin-top:-15px;width:100%;height:250px">
            </a>
            <div class="caption">
                <h4>{{ country.currency }} {{ country.language }}</h4>

                <!-- View Details -->
                <a href="{% url 'study:detail' country.id %}" class="btn btn-success btn-md" role="button">View Details</a>

                <!-- Delete Country -->
                <form action="{% url 'study:delete_country' country.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="country_id" value="{{ country.id }}" />
                    <button type="submit" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>

                <!-- Edit Country -->
                <form action="{% url 'study:edit_country' country.id %}" method="get" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="country_id" value="{{ country.id }}" />
                    <button type="submit" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="col-sm-12">
        <br>
        <a href="{% url 'study:add_country' %}">
            <button type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>&nbsp; Add Country
            </button>
        </a>
    </div>
{% endif %}
</div>
{% endblock %}